@import "./config";

footer {
  padding: 1.5rem 0;
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p,
  a {
    color: $black;
    width: fit-content;
    font-size: 0.8rem;
  }
}
